.container__content {
  border: 1px solid white;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.content_cover > img{
  width: 400px;
  min-width: 400px;
  height: 600px;
}

.content_description > p {
  margin-top: 15px;
  color: grey;
}
