<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://th.bing.com/th/id/R.0b96cd923bb04cdf6df1adb385fae8de?rik=hJCd8PYGOJIN%2fw&pid=ImgRaw&r=0"
    cardTitle="Inteligência artificial impressiona internautas"
    cardDecription="Com o advento das IA's (mais conhecidas como inteligências artificiais), o mundo tem passado por uma mudança drástica, muitos tem medo de que a IA acabe com o seus empregos, dado o impressionante processamento que elas tem."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://www.hdwallpapers.in/download/spider_man_4k_17-3840x2160.jpg"
    cardTitle="Homem-aranha 2 é anunciado"
    >
    </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://th.bing.com/th/id/R.f0726155b0777d6f42e27cd03b026a75?rik=f5wIfAM3OcBH7Q&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fe%2f8%2ff%2f582938.jpg&ehk=UiBvqOjGEgeSReqVHAwUoUGpstI37yt46rR6vC848Js%3d&risl=&pid=ImgRaw&r=0"
    cardTitle="Novo jogo dos Vingadores"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://th.bing.com/th/id/R.f7639173a4eb8abca14d202d383d9dbf?rik=L51Al0wV5J07fw&pid=ImgRaw&r=0"
    cardTitle="Novo filme do Batman é avaliado pela crítica"
    >
  </app-small-card>
  </div>
</div>
